<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar e Publicar Mídia</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .media-record {
            border: 1px solid #007bff;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .media-actions {
            display: flex;
            gap: 10px;
        }

        .alert {
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <form method="GET" action="{{ url_for('create_media') }}">
            <button type="submit" class="btn btn-info mb-3">Criar Imagem/Vídeo</button>
        </form>
        <br>
        <h1>Criar Carrocel</h1>


        <!-- Exibir mensagens de flash -->
        <!-- Exibir mensagens de flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert alert-dismissible fade show">
            {% for category, message in messages %}
            <div class="alert {% if category == 'success' %}alert-success{% else %}alert-danger{% endif %}"
                role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <!-- Formulário para criação de mídia -->
        <form method="POST" action="/carrocel/add_image">
            <div class="form-group">
                <label for="conta">Conta</label>
                <select class="form-control" id="conta" name="conta" required>
                    <option value="Principal">Principal</option>
                    <option value="Royal X">Royal X</option>
                    <option value="Empreendedor Do Futuro">Empreendedor Do Futuro</option>
            </div>
            <div class="form-group">
                <label for="media_url">URL da Mídia</label>
                <input type="url" class="form-control" id="media_url" name="media_url"
                    placeholder="Digite a URL da mídia" required>
            </div>
            <div class="form-group">
                <label for="type">Tipo de Mídia do Carrocel</label>
                <select class="form-control" id="type" name="type" required>
                    <option value="image">Imagem</option>
                    <option value="video">Vídeo</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Descrição da mídia</label>
                <textarea class="form-control" id="description" name="description" rows="3"
                    placeholder="Descrição adicional (opcional)"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Adicionar Mídia</button>
        </form>

        <hr>



        <!-- Botão para criar e publicar o carrossel -->
        <form method="POST" action="/carrocel/create">
            <div class="form-group">
                <label for="conta">Conta</label>
                <select class="form-control" id="conta" name="conta" required>
                    <option value="Principal">Principal</option>
                    <option value="Royal X">Royal x</option>
            </div>
            <div class="form-group">
                <label for="caption">Legenda</label>
                <input type="text" class="form-control" id="caption" name="caption"
                    placeholder="Digite a legenda do carrocel" required>
            </div>
            <div class="form-group">
                <label for="hashtags">Hashtags</label>
                <input type="text" class="form-control" id="hashtags" name="hashtags" placeholder="Adicione hashtags">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="hide_likes" name="hide_likes">
                <label class="form-check-label" for="hide_likes">Ocultar Curtidas</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="hide_comments" name="hide_comments">
                <label class="form-check-label" for="hide_comments">Ocultar Comentários</label>
            </div>

            <button type="submit" class="btn btn-success mb-3">Publicar Carrossel</button>

        </form>
        <div class="media-actions">
            <form method="POST" action="/carrocel/clear_ids">
                <button type="submit" class="btn btn-danger">Excluir Carrocel</button>
            </form>
        </div>

        <!-- Listar mídias criadas -->
        <h3>Mídias Criadas</h3>
        {% for media in created_media_records %}
        <div class="media-record">
            <div>
                <h5>ID: {{ media.id }}</h5>
                <p><strong>Conta</strong> {{ media.conta }}</p>
                <p><strong>Descrição:</strong> {{ media.description }}</p>
                <p><strong>Tipo:</strong> {{ media.type }}</p>         
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>